@charset "UTF-8";

#whiteBox {
	box-sizing: border-box;
	width: 1602px;
	height: 1034px;
	left: 159px;
	top: 691px;
	background: #FFFFFF;
	border: 1px solid #E1E1E1;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#whiteBox p {
	font-size: 45px;
	margin: 300px auto;
	text-align: center;


}

#whiteBox3 a {
position: absolute;
width: 250px;
height: 35px;
left: 860px;
top: 1115px;

font-family: 'SeoulHangang CBL';
font-style: normal;
font-weight: 500px;
font-size: 35px;
line-height: 35px;
/* identical to box height */

color: #3618EB;
}

#whiteBox2{
		box-sizing: border-box;

	position: absolute;
	width: 451px;
	height: 108px;
	top: 1080px;
	left: 750px;

	background: #FFFFFF;
	border: 1px solid #B3B3B3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

}