@charset "UTF-8";

.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.div-wrapper .text-wrapper {
  position: absolute;
  width: 234px;
  top: 249px;
  left: 843px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0.5px;
  line-height: 40px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-2 {
  position: absolute;
  top: 435px;
  left: 678px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0.5px;
  line-height: 35px;
  white-space: nowrap;
}

.div-wrapper .field {
  display: flex;
  width: 224px;
  height: 37px;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  position: absolute;
  top: 503px;
  left: 847px;
  background-color: var(--coolgray-10);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--coolgray-30);
}

.div-wrapper .text {
  position: relative;
  flex: 1;
  margin-top: -5.5px;
  margin-bottom: -3.5px;
  font-family: var(--body-m-font-family);
  font-weight: var(--body-m-font-weight);
  color: var(--coolgray-60);
  font-size: var(--body-m-font-size);
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
  font-style: var(--body-m-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.div-wrapper .field-2 {
  top: 576px;
  display: flex;
  width: 224px;
  height: 37px;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  position: absolute;
  left: 847px;
  background-color: var(--coolgray-10);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--coolgray-30);
}

.div-wrapper .field-3 {
  top: 649px;
  display: flex;
  width: 224px;
  height: 37px;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  position: absolute;
  left: 847px;
  background-color: var(--coolgray-10);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--coolgray-30);
}

.div-wrapper .rectangle {
  position: absolute;
  width: 223px;
  height: 34px;
  top: 436px;
  left: 848px;
  background-color: #f2f4f8;
  border: 1px solid;
  border-color: #c1c7cd;
}

#submit_btn{
	 top: 849px;
  display: flex;
  width: 224px;
  height: 37px;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  position: absolute;
  left: 847px;
  background-color: var(--coolgray-10);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--coolgray-30);
}



:root {
  --coolgray-60: rgba(105, 112, 119, 1);
  --coolgray-10: rgba(242, 244, 248, 1);
  --coolgray-30: rgba(193, 199, 205, 1);
  --body-m-font-family: "Roboto", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 16px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 139.9999976158142%;
  --body-m-font-style: normal;
}