<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.BoardsMapper">

		<insert id="upload" parameterType="com.smhrd.model.BoardsDTO">
	 		insert into boards (b_title, b_content, created_at, b_views, b_likes, mem_id, filename) values(#{b_title},#{b_content},sysdate,0,0,#{mem_id},#{filename})
		</insert>
	
		<select id="Show_allBoard" parameterType="int" resultType="com.smhrd.model.BoardsDTO">
			SELECT *
			FROM (SELECT rownum TEST, t.*
			     FROM (SELECT * FROM boards ORDER BY CREATED_AT desc) t) 
			WHERE TEST BETWEEN #{endRow}-9 AND #{endRow}
		</select>
		
		<select id="BoardsTotal" resultType="int">
		 	select count(*) from boards
		</select>
		
		<select id="show_DetailBoard" resultType="com.smhrd.model.BoardsDTO">
			select * from boards where B_IDX=#{B_IDX}
		</select>
		

		<update id="b_views_inc" parameterType="com.smhrd.model.BoardsDTO">	
			update boards set b_views=#{b_views} where b_idx=#{b_idx}
		</update>
		
		<delete id="delBoard">
			delete from boards where b_idx=#{b_idx}
		</delete>



</mapper>