<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>JoinService</servlet-name>
		<servlet-class>com.smhrd.controller.JoinService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>com.smhrd.controller.LoginService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogoutService</servlet-name>
		<servlet-class>com.smhrd.controller.LogoutService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>IdCheckService</servlet-name>
		<servlet-class>com.smhrd.controller.IdCheckService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>NickCheckService</servlet-name>
		<servlet-class>com.smhrd.controller.NickCheckService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreateTripService</servlet-name>
		<servlet-class>com.smhrd.controller.CreateTripService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BoardWriteService</servlet-name>
		<servlet-class>com.smhrd.controller.BoardWriteService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ViewsIncrease</servlet-name>
		<servlet-class>com.smhrd.controller.ViewsIncrease</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BoardDelete</servlet-name>
		<servlet-class>com.smhrd.controller.BoardDelete</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UpdateService</servlet-name>
		<servlet-class>com.smhrd.controller.UpdateService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>pwCheck</servlet-name>
		<servlet-class>com.smhrd.controller.pwCheck</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddSuppliesService</servlet-name>
		<servlet-class>com.smhrd.controller.AddSuppliesService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GetSuppliesService</servlet-name>
		<servlet-class>com.smhrd.controller.GetSuppliesService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BoardImgs</servlet-name>
		<servlet-class>com.smhrd.controller.BoardImgs</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BoardCommentsDTO</servlet-name>
		<servlet-class>com.smhrd.model.BoardCommentsDTO</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BoardCommentsService</servlet-name>
		<servlet-class>com.smhrd.controller.BoardCommentsService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BoardgetCmt</servlet-name>
		<servlet-class>com.smhrd.controller.BoardgetCmt</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UpdateSupply</servlet-name>
		<servlet-class>com.smhrd.controller.UpdateSupply</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddSupply</servlet-name>
		<servlet-class>com.smhrd.controller.AddSupply</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeleteSupply</servlet-name>
		<servlet-class>com.smhrd.controller.DeleteSupply</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>poiGet</servlet-name>
		<servlet-class>com.smhrd.controller.poiGet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>insertPoi</servlet-name>
		<servlet-class>com.smhrd.controller.insertPoi</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>getData</servlet-name>
		<servlet-class>com.smhrd.controller.getData</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GetDataAll</servlet-name>
		<servlet-class>com.smhrd.controller.GetDataAll</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PoiPageNum</servlet-name>
		<servlet-class>com.smhrd.controller.PoiPageNum</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LinkDataMainSche</servlet-name>
		<servlet-class>com.smhrd.controller.LinkDataMainSche</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>deletePoi</servlet-name>
		<servlet-class>com.smhrd.controller.deletePoi</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AllScheduleView</servlet-name>
		<servlet-class>com.smhrd.controller.AllScheduleView</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GetIdNameDay</servlet-name>
		<servlet-class>com.smhrd.controller.GetIdNameDay</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JoinService</servlet-name>
		<url-pattern>/JoinService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/LoginService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogoutService</servlet-name>
		<url-pattern>/LogoutService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>IdCheckService</servlet-name>
		<url-pattern>/IdCheckService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NickCheckService</servlet-name>
		<url-pattern>/NickCheckService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreateTripService</servlet-name>
		<url-pattern>/CreateTripService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardWriteService</servlet-name>
		<url-pattern>/BoardWriteService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ViewsIncrease</servlet-name>
		<url-pattern>/ViewsIncrease</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardDelete</servlet-name>
		<url-pattern>/BoardDelete</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdateService</servlet-name>
		<url-pattern>/UpdateService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>pwCheck</servlet-name>
		<url-pattern>/pwCheck</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddSuppliesService</servlet-name>
		<url-pattern>/AddSuppliesService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetSuppliesService</servlet-name>
		<url-pattern>/GetSuppliesService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardImgs</servlet-name>
		<url-pattern>/BoardImgs</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardCommentsDTO</servlet-name>
		<url-pattern>/BoardCommentsDTO</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardCommentsService</servlet-name>
		<url-pattern>/BoardCommentsService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardgetCmt</servlet-name>
		<url-pattern>/BoardgetCmt</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdateSupply</servlet-name>
		<url-pattern>/UpdateSupply</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddSupply</servlet-name>
		<url-pattern>/AddSupply</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DeleteSupply</servlet-name>
		<url-pattern>/DeleteSupply</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>poiGet</servlet-name>
		<url-pattern>/poiGet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>insertPoi</servlet-name>
		<url-pattern>/insertPoi</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>getData</servlet-name>
		<url-pattern>/getData</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetDataAll</servlet-name>
		<url-pattern>/GetDataAll</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PoiPageNum</servlet-name>
		<url-pattern>/PoiPageNum</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LinkDataMainSche</servlet-name>
		<url-pattern>/LinkDataMainSche</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>deletePoi</servlet-name>
		<url-pattern>/deletePoi</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AllScheduleView</servlet-name>
		<url-pattern>/AllScheduleView</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetIdNameDay</servlet-name>
		<url-pattern>/GetIdNameDay</url-pattern>
	</servlet-mapping>

</web-app>
